<div class="carousel-item active">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-xs-auto col-md-auto col-sm-auto">
        <div class="tutorial-placeholders">Customer Placeholder</div>
      </div>
    </div>
  </div>
</div>
<div class="carousel-item">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-xs-auto col-md-auto col-sm-auto">
        <div class="tutorial-placeholders">Placeholder 1</div>
      </div>
    </div>
  </div>
</div>
<div class="carousel-item">
  <div class="container">
    <div class="row align-items-center justify-content-center">
      <div class="col-xs-auto col-md-auto col-sm-auto">
        <div class="tutorial-placeholders">Placeholder 2</div>
      </div>
    </div>
  </div>
</div>
