<div class="h-100 col carousel-item active">
  <div class="h-100 col">
    <div class="row h-100 align-items-center justify-content-center">
      <div class="col-md-7 text-center">
        <h1 class="tutorial-title">Welcome to Vendr Customer Tutorial</h1>
      </div>
      <div class="col-md-5 text-center">
        <i class="fa fa-map-marker icon-size" aria-hidden="true"></i>
        <i class="fa fa-store icon-size" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div>
<div class="h-100 col carousel-item">
  <div class="h-100 col">
    <div class="row h-100 align-items-center justify-content-center">
      <div class="col-md-5 text-center">
        <p>Use the searchbar to find vendors nearby your location! 
          Remeber to look for vendors with delivery service</p>
      </div>
      <div class="col-md-7 text-center">
        <img src="./images/tutorial/SearchBarVendor.png">
      </div>
    </div>
  </div>
</div>
<div class="h-100 col carousel-item">
  <div class="h-100 col">
    <div class="row h-100 align-items-center justify-content-center">
      <div class="col-md-5 text-center">
        <p>View the vendors near you displayed on Google Maps with markers! 
          Click it to see more information about the vendor and it's business</p>
      </div>
      <div class="col-md-7 text-center">
        <img src="./images/tutorial/VendorMap.png">
      </div>
    </div>
  </div>
</div>
<div class="h-100 col carousel-item">
  <div class="h-100 col">
    <div class="row h-100 align-items-center justify-content-center">
      <div class="col-md-5 text-center">
        <p>View the business information next to the vendors map!</p>
      </div>
      <div class="col-md-7 text-center">
        <img src="./images/tutorial/SaleCards.png">
      </div>
    </div>
  </div>
</div>
<div class="h-100 col carousel-item">
  <div class="h-100 col">
    <div class="row h-100 align-items-center justify-content-center">
      <div class="col-md-5 text-center">
        <p>View the full details of the business and contact your vendor to see if it's available!</p>
      </div>
      <div class="col-md-7 text-center">
        <img class="tutorial-image-style" src="./images/tutorial/ViewCard.png">
      </div>
    </div>
  </div>
</div>
<div class="h-100 col carousel-item">
  <div class="h-100 col">
    <div class="row h-100 align-items-center justify-content-center">
      <div class="col-md-5 text-center">
        <p>View the full details of the business and contact your vendor to see if it's available!</p>
      </div>
      <div class="col-md-7 text-center">
        <img class="tutorial-image-style" src="./images/tutorial/ViewCard.png">
      </div>
    </div>
  </div>
</div>
