<li title="Tutorial Welcome Slide" data-target="#carousel-tutorial" data-slide-to="0" class="active"></li>
<li title="Find Nearest Vendors Slide" data-target="#carousel-tutorial" data-slide-to="1"></li>
<li title="Find Vendors in Map Slide" data-target="#carousel-tutorial" data-slide-to="2"></li>
<li title="Vendors SaleCard's Slide" data-target="#carousel-tutorial" data-slide-to="3"></li>
<li title="Look at Vendors SaleCard Modal Slide" data-target="#carousel-tutorial" data-slide-to="4"></li>
<li title="Start your Business Slide" data-target="#carousel-tutorial" data-slide-to="5"></li>