<div id="dropdown" class="dropdown mr-4">
  <button 
    class="btn btn-secondary dropdown-toggle" 
    type="button" 
    id="dropdownMenuButton" 
    data-toggle="dropdown" 
    aria-haspopup="true" 
    aria-expanded="false"
  >
    My Profile
  </button>
  <div id="dropdown-menu" class="dropdown-menu dropdown-menu-left" aria-labelledby="dropdownMenuButton">
    <a class="dropdown-item" onclick="showRegistrationForm(true)">Edit Account</a>
    <div class="dropdown-divider"></div>
    <a id="log-button" class="dropdown-item"><span></span>Log Out</a>
  </div>
</div>