  <!-- NavBar -->
  <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="./home.html">Vendr</a>
      <button class="navbar-toggler" type="button" 
              data-toggle="collapse" data-target="#navbarSupportedContent" 
              aria-controls="navbarSupportedContent" aria-expanded="false" 
              aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li id="home_tab" class="nav-item">
          <a class="nav-link" href="./home.html">Home</a>
        </li>
        <li id="maps_tab" class="nav-item">
          <a class="nav-link" href="./maps.html">View Maps</a>
        </li>
        <li id="cards_tab" class="nav-item">
          <a class="nav-link" href="./cards.html">View Cards</a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <button class="btn btn-sm btn-outline-secondary" type="button">Log In</button>
      </form>
    </div>
  </nav>