<div class="modal fade" id="registrationModal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Account Information</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body row">   
        <div id="registration_form_wrapper" class="col-auto text-left form p-4">
          <form action="/new-vendor" method="POST">
            <div class="form-row align-items-center justify-content-center">
              <div class="form-group circle">
                <img id="profile-picture" src="images/placeholderImage.png" 
                  class="card-img-top"
                  alt="Placeholder for Profile Picture">
              </div>
              <div class="profile-picture-input">
                <i class="fa fa-camera upload-button"></i>
                <input type="file" class="form-control-file" id="imageFile" name="imageFile">
              </div>
              <input type="hidden" id="blobKey" name="blobKey">
            </div>
            <div class="form-row">
              <div class="form-group col-md-6">
                <label for="first_name">First Name</label>
                <input type="text" class="form-control" name="first_name" id="first_name" placeholder="First Name" required>
              </div>
              <div class="form-group col-md-6">
                <label for="last_name">Last Name</label>
                <input type="text" class="form-control" name="last_name" id="last_name" placeholder="Last Name" required>
              </div>
            </div>
            <div class="form-group">
              <label for="phone_number">Phone Number: </label>
              <input type="tel" name="phone_number" id="phone_number" class="form-control" placeholder="8112345678" required>
            </div>
             <div class="form-group">
              <label for="altText">Alt text for profile picture: </label>
              <input type="text" name="altText" id="altText" class="form-control" required>
            </div>
            <div class="align-items-center justify-content-center modal-footer">
              <button id="registerButton" type="button" class="btn btn-primary" onclick="validateRegistrationFormInputs()">Sign in</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>