<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vendr</title>
    <link rel="stylesheet" href="../styles/style.css">
    <!-- Dependencies -->
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css">
    <script src="../scripts/jquery-3.5.1.min.js"></script>
    <script src="../scripts/popper.min.js"></script>
    <script src="../scripts/bootstrap.bundle.min.js"></script>
    <script src="../scripts/script.js"></script>
  </head>
  <body>
    <div id="maps_container">
      <div id="maps_wrapper">
        <div id="navbar_container">
          <!-- NavBar -->
          <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="./home.html">Vendr</a>
              <button class="navbar-toggler" type="button" 
                      data-toggle="collapse" data-target="#navbarSupportedContent" 
                      aria-controls="navbarSupportedContent" aria-expanded="false" 
                      aria-label="Toggle navigation"
              >                  
                <span class="navbar-toggler-icon"></span>
              </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                  <a class="nav-link" href="./home.html">Home</a>
                </li>
                <li class="nav-item active">
                  <a class="nav-link" href="./maps.html">View Maps<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="./cards.html">View Cards</a>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <button class="btn btn-sm btn-outline-secondary" type="button">Log In</button>
              </form>
            </div>
          </nav>
        </div>
        <br>
        <div id="searchBarVendors-placeholder" class="container"></div>
      </div>
    </div>
  </body>
</html>
