<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Vendr</title>
  <link rel="stylesheet" href="../styles/style.css">
  <!-- Dependencies -->
  <link rel="stylesheet" href="../styles/bootstrap.min.css">
  <link rel="stylesheet" href="../font-awesome-4.7.0/css/font-awesome.min.css">
  <script src="../scripts/jquery-3.5.1.min.js"></script>
  <script src="../scripts/popper.min.js"></script>
  <script src="../scripts/bootstrap.bundle.min.js"></script>
  <script src="../scripts/script.js"></script>
  <script src="../scripts/navbar.js"></script>
  <script src="../scripts/map_commons.js"></script>
  <script src="../scripts/view_card.js"></script>
</head>
<body>
<div id="navbar_container"></div>
<div id="card-placeholder" class="container">
  <div class="row justify-content-md-center m-3">
    <input type="hidden" id="lat">
    <input type="hidden" id="lng">
    <div class="col-12" id="salecard-container"></div>
  </div>
</div>
</div>
</div>
</body>
<!-- Template section -->
<template id="salecard-template">
  <div class="card border-primary margin-navbar">
    <h5 class="card-header">Business card <span id="salecard-id"></span></h5>
    <div class="card-body">
      <h1 class="display-4" id="business-name">Business name</h1>
      <img id="business-picture" src="images/placeholderImage.png" class="card-img-top mt-2"
           alt="images/placeholderImage.png">
      <h3 class="mt-2">Description</h3>
      <p id="business-description" class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae
        optio sit a incidunt cupiditate, neque quidem asperiores maiores fugiat aliquid quos, placeat molestiae
        inventore illum necessitatibus quia veniam tenetur dolorem.</p>
      <div class="row mt-3">
        <div class="col">
          <div class="alert alert-success" role="alert">
            Opened from <b><span id="openedFrom">8:00</span></b> to <b><span id="openedTo">20:00</span></b>
          </div>
        </div>
        <div class="col">
          <div id="deliveryElement" class="alert alert-primary" role="alert">
            Distance of delivery: <b><span id="deliveryDistance">1000m</span></b>
          </div>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item"><i class="fa fa-user text-primary mr-2" aria-hidden="true"></i><span
                id="vendor-name"></span></li>
        <li class="list-group-item"><i class="fa fa-phone-square text-success mr-2" aria-hidden="true"></i><span
                id="vendor-phone"></span></li>
        <li class="list-group-item"><i class="fa fa-map-marker text-danger mr-2" aria-hidden="true"></i><span
                id="vendor-distance"></span></li>
      </ul>
      <h3 class="mt-2">Vendor location</h3>
      <div id="card-map"></div>
      <input type="hidden" id="business-lat" name="business-lat">
      <input type="hidden" id="business-lng" name="business-lng">
    </div>
  </div>
</template>

</html>