 /**
 * Map
 */
#map {
  height: 600px;
  margin: auto;
  width: 75%;
 }

.tutorial-placeholders {
  font-size: 5vw;
  text-align: center;
}

 #card-map {
  height: 700px;
  margin: auto;
 }

 #edit-card-map {
  height: 200px;
  margin: auto;
 }

 #closed-title {
  color: rgba(210, 20, 20, 1);
  font-weight: bold;
  left: 50%;
  padding: 20px;
  position: absolute;
  text-align: center;
  transform: translate(-50%, -150%);
  width: 80%;
  z-index: 2;
 }

.blur-picture {
  filter: blur(4px) grayscale(100%);
}

.margin-navbar {
   margin-top: 6% !important;
 }

 #salecards-container {
   max-height: 700px !important;
   overflow-y: scroll;
 }
